{{=<% %>=}}
%!TEX TS-program = xelatex
\documentclass[]{friggeri-cv}

\begin{document}
<%#bio%>
\header{<%first_name%>}{<%last_name%>}{}

% In the aside, each new line forces a line break
\begin{aside}
  \section{about}
      <%#private_address%>
        <%.%>
      <%/private_address%>
      <%private_phonenumber %> {\iconfont\symbol{"F095}}
      {\small \href{mailto:<%email%>}{<%email%> {\iconfont\symbol{"F0E0}}}}
      {\small \href{https://<%website%>}{<%website%> {\iconfont\symbol{"F015}}}}
      {\small \href{https://<%github%>}{<%github%> {\iconfont\symbol{"F09B}}}}
      {\small \href{https://twitter.com/<%twitter%>}{<%twitter%> {\iconfont\symbol{"F099}}}}
  \section{interests}
    <%#interests%>
      <%.%>
    <%/interests%>
  \section{languages}
    <%#languages%>
      <%.%>
    <%/languages%>
\end{aside}
<%/bio%>

\section{experience}
\begin{experience}
  <%#experience%>
    \experienceentry
      {<%start_date%> to}
      {<%end_date%>}
      {<%title%> @ <%company%>}
      {<%location%>}
      <%#responsibilities%>
        {<%main%>}
        {<%#items.length%>
          \begin{itemize}[leftmargin=*]
          \itemsep 0.8em
            <%#items%>
              \item <%& .%>
            <%/items%>
          \end{itemize}
        <%/items.length%>}
      <%/responsibilities%>
  <%/experience%>
\end{experience}

\section{education}
\begin{entrylist}
  <%#education%>
  \entry
    {<%start_date%> - <%end_date%>}
    {<%type%> - <%name%>}
    {<%institution%>}
    {<%location%>}
  <%/education%>
\end{entrylist}

\end{document}
