{{=<% %>=}}
%!TEX TS-program = xelatex
\documentclass[print]{amsquintino-cv}

\begin{document}
<%#bio%>
\header{<%first_name%>}{<%last_name%>}{}

% In the aside, each new line forces a line break
\begin{aside}
  \section{about}
      <%private_phonenumber %> {\iconfont\symbol{"F095}}
      {\small \href{mailto:<%email%>}{<%email%> {\iconfont\symbol{"F0E0}}}}
      \href{https://<%website%>}{{\small <%website%>} {\iconfont\symbol{"F015}}}
      \href{https://<%github%>}{{\small <%github%>} {\brandsfont\symbol{"F09B}}}
      \href{https://twitter.com/<%twitter%>}{{\small <%twitter%>} {\brandsfont\symbol{"F099}}}
      {\small <%private_skype%>} {\brandsfont\symbol{"F17E}}
  \section{interests}
    <%#interests%>
      <%.%>
    <%/interests%>
  \section{languages}
    <%#languages%>
      <%.%>
    <%/languages%>
\end{aside}
<%/bio%>

\section{experience}
<%#experience%>
\begin{experience}
  <%#page%>
    \experienceentry
      {from <%start_date%>}
      {to <%end_date%>}
      {<%title%> <%#company%> @ <%.%> <%/company%>}
      {<%location%>}
      <%#responsibilities%>
        {<%main%>}
        {<%#items.length%>
          \begin{itemize}[leftmargin=*]
          \itemsep 0.3em
            <%#items%>
              \item <%& .%>
            <%/items%>
          \end{itemize}
        <%/items.length%>}
      <%/responsibilities%>
  <%/page%>
\end{experience}
<%/experience%>

\section{education}
\begin{education}
  <%#education%>
  \educationentry
    {from <%start_date%>}
    {to <%end_date%>}
    {<%type%> in <%name%>}
    {<%institution%><%#location%>, <%.%> <%/location%>}
  <%/education%>
\end{education}

\section{side projects}
<%#side_projects%>
{\large\textbf{<% title %>}} \\
{\footnotesize\addfontfeature{Color=lightgray} \href{https://<%url%>}{<%url%>}}\\
<% description %> \\[\parsep]
<%/side_projects%>

\section{other}
<%#other%>
{\large\textbf{<% title %>}} \\
<% description %> \\[\parsep]
<%/other%>

\end{document}
